<a href="https://colab.research.google.com/github/imkashif/COVID-19/blob/master/Data%20Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

COVID-19 Analysis

In [12]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
time_series = pd.read_csv('https://api.covid19india.org/csv/latest/state_wise_daily.csv')
testing_data = pd.read_csv('https://api.covid19india.org/csv/latest/statewise_tested_numbers_data.csv')
print(time_series.shape)
print(testing_data.shape)
print(time_series.tail())
print(testing_data.tail())

(150, 40)
(743, 20)
          Date     Status    TT  AN  AP  AR  AS  ...  SK   TN  TG  TR   UP  UT   WB
145  01-May-20  Recovered   962   0  82   0   4  ...   0   54  22   0  103   1   15
146  01-May-20   Deceased    77   0   2   0   0  ...   0    1   0   0    2   1    8
147  02-May-20  Confirmed  2567   0  62   0   0  ...   0  231  17   2  159   2  127
148  02-May-20  Recovered   831  10  38   0   0  ...   0   29  35   0   44   2   12
149  02-May-20   Deceased    92   0   0   0   0  ...   0    1   1   0    1   0    7

[5 rows x 40 columns]
     Updated On        State  ...  1000  1000000
738  29/04/2020  West Bengal  ...   NaN      NaN
739  30/04/2020  West Bengal  ...   NaN      NaN
740  01/05/2020  West Bengal  ...   NaN      NaN
741  02/05/2020  West Bengal  ...   NaN      NaN
742  03/05/2020  West Bengal  ...   NaN      NaN

[5 rows x 20 columns]

In [0]:
testing_data.to_csv('testing.csv')

In [14]:
states = time_series.columns
states = list(states[2:])
print(states)
print(np.max(time_series.Date))

['TT', 'AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DN', 'DD', 'DL', 'GA', 'GJ', 'HR', 'HP', 'JK', 'JH', 'KA', 'KL', 'LA', 'LD', 'MP', 'MH', 'MN', 'ML', 'MZ', 'NL', 'OR', 'PY', 'PB', 'RJ', 'SK', 'TN', 'TG', 'TR', 'UP', 'UT', 'WB']
31-Mar-20

In [15]:
final_data = pd.DataFrame(columns=['Date','Status','Cases','State'])
final_data

Empty DataFrame
Columns: [Date, Status, Cases, State]
Index: []

In [0]:
def massagedata(statename):
  data = time_series[['Date','Status',statename]]
  data.columns = ['Date','Status','Cases']
  data[statename] = statename
  data.columns = ['Date','Status','Cases','State']
  return data

In [17]:
for st in states:
  final_data = final_data.append(massagedata(st), ignore_index = True)

print(final_data.head())

        Date     Status Cases State
0  14-Mar-20  Confirmed    81    TT
1  14-Mar-20  Recovered     9    TT
2  14-Mar-20   Deceased     2    TT
3  15-Mar-20  Confirmed    27    TT
4  15-Mar-20  Recovered     4    TT

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [0]:
final_data.to_csv('TSdata.csv')